body,
#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: clip;
    cursor: none;
    /* font-size: 0.8rem; */
    /* box-sizing: content-box; */
}
